html, body {
	width:100%;
	height:100%;
	border:0;
	margin:0;
	padding:0;
}

body {
	font-size:100%;
	line-height:1.125em;
	background: white;
	-webkit-text-size-adjust: none;
}

button {
 	vertical-align: middle;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width:auto;overflow:visible; /* Fixes extra padding issue in IE6/7 */
	cursor:pointer;*cursor:hand; /* Alternate cursor for IE */
}

/* for IE8 */
:focus {
	outline: none;
}

/* for FireFox */
::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable=true] {
	-webkit-user-drag: element;
	-khtml-user-drag: element;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


a img {border:0}


/*
global classes
*/
.hidden {
	display:none !important;
}
.transparent{
	opacity:0 !important;
	filter:alpha(opacity=0) !important;
}
.abs {
	position: absolute;
	top: 0px;
	left: 0px;
}
.absr {
	position: absolute;
	top: 0px;
	right: 0px;
}
.rel {
	position:relative;
	height:100%;
}
.max {
	width:100%;
	height:100%;
}
.reset {
	border:0;
	margin:0;
	padding:0;
}
.noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	user-select:none;
}



/* for slider knob */
.anim {
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
}
