html {
	height:100%;
	overflow:hidden;
}

body{
	height:100%;
	overflow:auto;
	padding:0px 15px;
	margin:0px 0px 0px 225px;
	background:white url(bg.png) no-repeat;
	font-family: 'HelveticaNeue', 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
}

.tree{
	position:absolute;
	overflow:auto;
	top:0px;
	left:0px;
	height:100%;
	width:225px;
}

.tree ul{
	text-align:left;
	margin:0;
	padding:0;
	overflow: hidden;
	-webkit-transition: all .7s ease-out;
	-moz-transition: all .7s ease-out;
	-o-transition: all .7s ease-out;
	transition: all .7s ease-out;
}
.tree ul.hidden {
	opacity:0;
	filter:alpha(opacity=0);
	height: 0px;
}
.tree li{margin:0 0 0 15px;padding:0;list-style-type:none;color:#B7614E;cursor:pointer;*cursor:hand;}

ul.H0 {
	margin: 0 0 0 5px;
	padding-top: 75px;
	background:url(logo.png) no-repeat 20px 20px;
}

.H0{font-size:17px;}
.H1,.H2,.H3,.H4,.H5,.H6{font-size:12px;}

h1,h2,h3,h4,h5,h6{margin-top:1.8em;margin-bottom: 0.6em;font-weight:normal;}
h1 {font-size: 32px;}
h2 {font-size: 24px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
