
/* toggle begin */
.toggle {
	background: transparent;
	overflow: hidden;
	height: 27px;
	width: 78px;
	border-radius: 13px;
	overflow: hidden;
	font-family: Helvetica;
}

.toggle div {
	line-height: 27px;
	width: 128px;
	height: 27px;
	margin-left: -51px;
	font-size: 14px;
	color: #777;
	text-transform: uppercase;
	background: url("toggle_ios5_bg.png");
	white-space: nowrap;
}
.toggle.is_on div {
	margin-left: 0px;
}
.toggle b {
	padding: 0 10px;
	display: block;
	float: left;
	height: 27px;
	width: 43px;
	text-align: right;
}
.toggle .on {
	color: #fff;
	text-align: left;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.toggle .knob {
	width: 7px;
	margin: 0 0 0 -78px;
}

/* toggle end */





