
.scroll{
	overflow:hidden;
}
.scrollBox{
	-webkit-transform: translate3d(0, 0, 0);
	/*-webkit-transition: all 60ms linear;*/
}
.scrollBar {
	right: 2px;
	width: 5px;
	background:#000;
	opacity:.5;
	filter:alpha(opacity=50);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
